.api-enterprise {
  padding: 30px 0;
  .our-container{
    padding: 0;
  }
  .api {
    display: flex;
    background: #f0f0f0 -150px 0 no-repeat;
    height: 286px;
    max-width: none;
    box-shadow: 0 0 4px #cfcdcd;
    .api-img {
      height: auto;
      max-height: 100%;
      flex-basis: 50%;
      background-image: url(https://www.f-cdn.com/assets/main/en/assets/home/api-enterprise/api_upsell.png);
      background-position: top right;
      background-repeat: no-repeat;
    }
    .api-details {
      flex-basis: 50%;
      text-align: right;
      padding: 24px;
      background: transparent;
      .details {
        height: 200px;
        margin-bottom: 5px;
        .api-title {
          font-size: 14px;
          font-weight: 500;
          color: #007bff;
          display: block;
          margin-bottom: 16px;
        }
        .api-header {
          font-weight: 700;
          margin-bottom: 20px;
          color: #0e1724;
        }
        .api-description {
          line-height: 1.5;
          color: 0e1724;
          margin-bottom: 25px;
        }
      }
      .api-btn {
        padding: 10px 12px;
        background: #007bff;
        color: rgb(238, 238, 238);
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
  .enterprise {
    display: flex;
    background: #f0f0f0 -150px 0 no-repeat;
    height: 286px;
    max-width: none;
    box-shadow: 0 0 4px #cfcdcd;
    .enterprise-img {
      order: 2;
      height: auto;
      flex-basis: 50%;
      background-image: url(https://www.f-cdn.com/assets/main/en/assets/home/api-enterprise/enterprise_upsell.png);
      background-position: top left;
      background-repeat: no-repeat;
    }
    .enterprise-details {
      order: 1;
      flex-basis: 50%;
      text-align: left;
      padding: 24px;
      background: transparent;
      .details {
        height: 200px;
        margin-bottom: 5px;
        .enterprise-title {
          font-size: 14px;
          font-weight: 500;
          color: #007bff;
          display: block;
          margin-bottom: 16px;
        }
        .enterprise-header {
          font-weight: 700;
          margin-bottom: 20px;
          color: #0e1724;
        }
        .enterprise-description {
          line-height: 1.5;
          color: 0e1724;
          margin-bottom: 25px;
        }
      }
      .enterprise-btn {
        padding: 10px 12px;
        background: #007bff;
        color: rgb(238, 238, 238);
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
.column {
  padding: 0 12px !important;
  transition: all ease-in-out 0.1s;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .api-enterprise {
    .our-container {
      padding: 0;
    }
    .column {
      padding: 0 20px 0 12px !important;
      &:last-of-type {
        padding: 0 12px 0 20px !important;
      }
    }
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .column {
    padding: 0 24px 0 !important;
  }
}
@media (max-width: 599px) {
  .api-enterprise {
    .our-container {
      padding: 0;
    }
    .column {
      padding: 0 12px 0 !important;
    }
  }
}
@media (max-width: 767px) {
  .api {
    margin-bottom: 30px;
  }
}
@media (max-width: 1200px) {
  .api,
  .enterprise {
    height: 500px !important;
    flex-direction: column;
    cursor: pointer;
    &.enterprise {
      .enterprise-img {
        order: 1;
        flex-basis: 75%;
        background-image: url(https://www.f-cdn.com/assets/main/en/assets/home/api-enterprise/enterprise_upsell.png);
        background-position: center center;
        background-repeat: no-repeat;
      }
      .enterprise-details {
        flex-basis: 25%;
        padding: 0;
        background: #fff;
        .details {
          padding: 20px 24px;
          height: 180px;
          margin-bottom: 0;
          .enterprise-title {
            color: rgb(53, 49, 49);
            margin-bottom: 10px;
          }
          .enterprise-header {
            margin-bottom: 10px;
          }
          .enterprise-description {
            font-size: 17px;
          }
        }
      }
    }
    &.api {
      .api-img {
        flex-basis: 75%;
        background-image: url(https://www.f-cdn.com/assets/main/en/assets/home/api-enterprise/api_upsell.png);
        background-position: center center;
        background-repeat: no-repeat;
      }
      .api-details {
        flex-basis: 25%;
        padding: 0;
        text-align: left;
        background: #fff;
        .details {
          padding: 20px 24px;
          height: 180px;
          margin-bottom: 0;
          .api-title {
            color: rgb(53, 49, 49);
            margin-bottom: 10px;
          }
          .api-header {
            margin-bottom: 10px;
          }
          .api-description {
            font-size: 17px;
          }
        }
      }
    }
    .api-btn,
    .enterprise-btn {
      display: none;
    }
  }
}
.row {
  margin: 0 !important;
}
