.category-container {
  padding: 0 12px !important;
  a:hover {
    color: #181818;
  }
  .category {
    height: 104px;
    text-align: center;
    margin-bottom: 24px;

    .category-img {
      margin-bottom: 15px;
      vertical-align: baseline;
    }
    .category-type {
      line-height: 1.2;
      font-size: 13px;
      color: rgb(24, 24, 24);
    }
  }
}
@media (max-width: 991px) {
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f3f3f3;
  }
  .category-type {
    font-size: 14px !important;
  }
}

.jobs-category {
  margin-bottom: 5px;
  i {
    color: #ffc24e;
    font-size: 14px;
  }
  .jc-link {
    display: inline-flex;
    margin-left: 10px;
    width: 80%;
    font-size: 15px;
    color: #0e1724;
    &:hover {
      color: rgb(47, 47, 212);
    }
  }
}
