.our-navbar {
  .NavBar {
    height: 64px;
    background-color: #fff;
    .nav-left,
    .nav-right {
      a {
        vertical-align: middle;
        text-decoration: none;
        font-size: 16px;
        &.logo {
          img {
            width: 140px;
          }
        }
        &.nav-links {
          margin: 0 5px;
          padding: 0 15px;
          color: #0e1724;
          &:hover {
            color: #007fed;
          }
        }
        &.nav-btn {
          padding: 10px 13px;
          margin: 0 5px;
          color: #f7f7f7;
          font-weight: 600;
          font-size: 14px;
          background: linear-gradient(180deg, #fc8c14 0, #f77d0e);
          border: 1px solid #f77d0e;
          &:hover {
            background: #f77d0e;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .NavBar {
    .nav-left a.nav-links:nth-child(2),
    .nav-left a.nav-links:nth-child(3),
    .nav-right a.nav-btn {
      display: none;
    }
  }
}
