.need-work-done {
  padding: 90px 0 0;
  flex-direction: column;
  display: flex;
  .work-title {
    margin-bottom: 50px;
  }
  span {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 700;
  }
  .jobs-type {
    .job {
      margin-bottom: 20px;
      img {
        margin-bottom: 20px;
      }
      .job-title {
        font-size: 22px;
      }
      .job-description {
        margin-top: 25px;
        font-size: 18px;
        color: rgb(105, 105, 105);
        font-weight: 600;
        
      }
    }
  }
}
@media (min-width: 768px) {
  .jobs-type {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .job {
      flex-basis: 29%;
    }
  }
}
@media (max-width: 767px) {
  .need-work-done {
    padding: 70px 10px 0;
    .work-title {
      span {
        font-size: 26px;
      }
    }
    .jobs-type {
      .job {
        padding: 0 10px;
        &:last-of-type {
          margin-bottom: 0;
        }
        img {
          width: 300px;
        }
        .job-title {
          font-size: 18px;
        }
        .job-description {
          margin-top: 15px;
          font-size: 16px;
        }
      }
    }
  }
}
