.what-great-about-it {
  padding: 70px 0;
  .WGAI-title,
  .WGAI-items .item-title {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    &.item-title {
      font-size: 22px;
      vertical-align: middle;
    }
  }
  .item-description {
    font-size: 19px;
    line-height: 1.3;
    color: rgb(39, 39, 39);
  }
}
@media (max-width: 767px) {
  .what-great-about-it {
    padding: 60px 0;
    .WGAI-title {
      font-size: 22px;
    }
    .WGAI-items .item-title,
    .item-description {
      font-size: 16px;
    }
  }
}
